@tailwind base;
@tailwind components;
@tailwind utilities;

.main-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* For polygon effect */

/* Add this in your global CSS file */
@media (min-width: 700px) {
  .clip-path-transition {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
    transition: clip-path 0.4s ease-in-out;
  }

  .clip-path-transition:hover {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  }

  .listing-modal-size {
    max-width: 60vw !important;
    max-height: 90vh !important;
  }
}

@media (max-width: 650px) {
  .listing-modal-size {
    width: 95vw !important;
    height: 80vh !important;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Additional styles if needed */

.custom-checkbox:checked {
  background-color: #7fb3d5; /* Example for a custom color when checked */
  border-color: #7fb3d5;
}

.custom-checkbox {
  background-color: #7fb3d5;
  width: 30px; /* Custom width */
  height: 30px; /* Custom height */
  border-radius: 50%; /* Example for round checkboxes */
  border: 2px solid #7fb3d5; /* Custom border color */
}

/* For a custom check mark */

@keyframes rollDown {
  from {
    opacity: 0;
    transform: translateY(
      -30px
    ); /* Adjust as needed for the starting position */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated-form {
  animation: rollDown 0.8s ease-out forwards; /* Adjust 'ease-out' for effect timing */
}
