@tailwind base;
@tailwind components;
@tailwind utilities;

.main-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* For polygon effect */

/* Add this in your global CSS file */
.clip-path-transition {
  clip-path: polygon(27% 0, 100% 0%, 100% 100%, 0 100%);
  transition: clip-path 0.4s ease-in-out;
}
.clip-path-transition:hover {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.listing-modal-size {
  max-width: 50vw !important;
  max-height: 90vh !important;
}


/* Additional styles if needed */


